*{
    margin: 0px;
    padding: 0px;
}
header{
    width: 100%;
    height:500px;
    background-color:rgb(238, 175, 175);
    background-image: url(fundo.png);
   background-position: left,center;
    background-size: cover;
    margin: auto;
    position: relative;
    

}
div#titulo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

main{
    background-color: 000000;
    margin: 10px;
    margin: auto;
    min-width: 320px;
    max-width: 100%;
   
}

p{
    margin: 0px;
    color:#004AAD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    margin: auto;
    padding: 10px 50px;

}
ul{
    color: #004AAD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 50px;
    padding-right: 16px;
    columns: 2;
}
li{
    margin: 7px;
    padding-top: 0px;
}

div.lista{
    
    border-radius: 15px;
    background-color: #34d6db;
}
section{
    margin: 33px;
}

aside{
    margin: 0px;
    padding-left: 63px;
    padding-top: 10px;
}