* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Arial, sans-serif;
}

.image-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.link-destination {
	margin-top: 50px;
	text-align: center;
}

.fase {
	font-weight: bold;
	text-transform: uppercase; /* Deixa a fase em letras maiúsculas */
  }
  
  .evento-infancia {
	background-color: #d1f7d1; /* Cor de fundo para infância */
  }
  
  .evento-adolescencia {
	background-color: #d1e0f7; /* Cor de fundo para adolescência */
  }
  
  .evento-adulto {
	background-color: #f7d1d1; /* Cor de fundo para adulto */
  }
  
  button.excluir {
	margin-left: 10px;
	background-color: #ff4d4d; /* Cor de fundo para o botão excluir */
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
  }
  
  button.excluir:hover {
	background-color: #ff1a1a; /* Efeito hover para o botão excluir */
  }
  
  .quadro-destaque {
	background-color: #e0f7fa; /* Cor de fundo azul clara */
	border: 2px solid #0097a7; /* Borda azul escura */
	border-radius: 5px; /* Bordas arredondadas */
	padding: 10px; /* Espaçamento interno */
	margin-bottom: 10px; /* Espaçamento entre eventos */
	display: inline-block; /* Para que o quadro fique no tamanho do conteúdo */
  }

  